<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.runtime.remoting>
    <application>
      
      <channels>
        <channel ref="http" port="0"
             secure="true"
protectionLevel="EncryptAndSign"
TokenlmpersonationLevel="Impersonation"     >
          <clientProviders>
            <formatter ref="soap" typeFilterLevel="Full" />
            
          </clientProviders>
        </channel>
      </channels>
      <client url="http://localhost:8085">
        <activated type="Obj1.Interface1, Obj1" />
      </client>
    </application>
  </system.runtime.remoting>
</configuration>

